<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.echeung.moemoekyun">

    <application tools:node="merge">

        <!-- Google Cast -->
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="me.echeung.moemoekyun.cast.CastOptionsProvider" />

    </application>

</manifest>
