<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.echeung.moemoekyun">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoTitle">

        <activity
            android:name=".ui.activities.MainActivity"
            android:configChanges="screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH" />

                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.SearchActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.activities.MainActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".ui.activities.SettingsActivity"
            android:label="@string/settings"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.activities.AboutActivity"
            android:label="@string/about"
            android:parentActivityName=".ui.activities.MainActivity"
            android:theme="@style/AppTheme" />

        <service
            android:name=".service.RadioService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <service
            android:name=".service.AutoMediaBrowserService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="com.lge.support.SPLIT_WINDOW"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />
        <meta-data
            android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@drawable/ic_icon" />

        <meta-data
            android:name="asset_statements"
            android:resource="@string/asset_statements" />

    </application>

</manifest>
